body {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  margin: 30px;
}

#countriesList {
  margin-top: 20px;
}
button {
  margin: 0 40vw;
  padding: auto;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgba(59, 136, 187, 0.89);
}
.country-card {
  margin: 10px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10vw;
  margin-bottom: 10px;
  display: inline-block;
  width: 300px;
}
.country-card img {
  max-width: 200px;
}
